<body>
    <h1 style="margin: 20px 40px;">Here are some delicious foods!</h1>
    <div style="margin: 20px 40px">
        @{
            string[] dishes = { "Apple Pie", " Pizza", "Cinnamon Rolls", "Lasagna", "Donuts",  "Chocolate Cake", "Burritos" };

            foreach (string dish in dishes)
            {
                if (dish.StartsWith("C"))
                {
                    <p style="color:red;">@dish</p>
                }
                else
                {
                    <p>@dish</p>
                }
            }
        }
    </div>

</body>
