
<body>
    <span class="border border-3" >
    <h1>
        @ViewBag.CurrentTime.ToString("MMMM") @ViewBag.CurrentTime.Day @ViewBag.CurrentTime.Year
    </h1>
    <h2>
        @ViewBag.CurrentTime.ToString("h:mm tt")
    </h2>
    </span>
</body>
