<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    @* // In this context '~' refers to the wwwroot folder *@
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">
        <h1><a href="/">Home</a> | <a href="/Project">Project</a> | Contact</h1>
        <h3>Contact Me!</h3>
    </div>
    </div>
    <div class="input-group mb-3">
        <div> Name
            <input type="text" class="form-control" rows="6">
        </div>
        <div> Email
            <input type="text" class="form-control" rows="6">
        </div>
        <div> Message
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
        <input type="submit" value="send" class="btn btn-primary">
    </div>
    </div>
</body>

</html>