<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    @* // In this context '~' refers to the wwwroot folder *@
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">
        <h1>Home | <a href="/Project">Project</a> | <a href="/Contact">Contact</a></h1>
        <h3>About Me</h3>
    </div>
    </div>
    <div class="one">
        <div class="body">
            <a href="~/css/img">
                <img border="0" alt="logo" src="~/img/user.png" width="350" height="350">
            </a>
            <div class="text">
                <p>Bobothy Jones</p>
                <p>I Love to code!</p>
            </div>
        </div>
        <div class="side">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</br>
                Dolore blanditiis necessitatibus nam.</br>
                Minus consequatur quia optio inventore odit odio animi, at voluptatem sit.</br>
                Placeat praesentium eius magnam id in?</br>
                Necessitatibus?
            </p>
        </div>
    </div>
    </div>


</body>

</html>