<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    @* // In this context '~' refers to the wwwroot folder *@
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">

        <h1 style="text-align: center;"><a href="/">Home</a> | Projects | <a href="/Contact">Contact</a></h1>
        <div>
            @{
                for (int i = 0; i < 4; i++)
                {
                    <div class="proj-row">
                        <img src="~/img/project1.png" width="50" class="proj-col-left" alt="">
                        <div class="proj-col-right">Cool Thing!</div>
                    </div>
                }
            }
        </div>
    </div>

</body>

</html>
